.marquee-container {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
}

.marquee-content,
.marquee-content-right {
    display: inline-flex;
    will-change: transform;
}

.marquee-content {
    animation: marquee 20s linear infinite;
}

.marquee-content-right {
    animation: marqueeR 20s linear infinite;
}

.marquee-item {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    padding: 0 0.3rem;
    margin-right: -0.2rem;
    flex-shrink: 0;
    word-spacing: -0.6rem;
}

.marquee-container:last-child {
    margin-top: -30px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes marqueeR {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
