@import 'tailwindcss';

#root {
    width: 100%;
}

@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('/fonts/MPLUSRounded1c-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Soyuz Grotesk';
    src:
        url('/fonts/Soyuz_Grotesk_Bold.otf') format('opentype'),
        url('/fonts/SoyuzGroteskBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/fonts/HelveticaNeueLight.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Teletactile';
    src: url('/fonts/Teletactile.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #000000;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    --bg-primary: #000000;
    --bg-secondary: #0c0c0c;
}

body {
    background-color: var(--bg-primary);
}

.home-page,
.library-page {
    background-color: var(--bg-secondary);
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    font-family: 'Soyuz Grotesk', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
}

h3 {
    color: white;
    font-family: 'M PLUS Rounded 1c';
}

@media (prefers-color-scheme: light) {
    :root {
        color: #fff;
    }
    a:hover {
        color: #747bff;
    }
}
